@model Categoria

<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="utf-8">

        <title> - Cadastro de categoria </title>

    </head>

    <body>

        <h1> Cadastrar categoria </h1>

        <!-- REGISTER FORM -->
        <form asp-controller="Categoria" asp-action="Create" method="post">

            <fieldset>

                <div asp-validation-summary="ModelOnly"></div>

                <legend> Criar categoria </legend>

                <!-- Nome -->
                <label asp-for="Nome">Nome da categoria</label>
                <input asp-for="Nome" type="text" placeholder="Nome da categoria"/>

                <span asp-validation-for="Nome"></span>

                <input type="submit" value="Cadastrar categoria" />

            </fieldset>

        </form>

    </body>

</html>
