@{ 

    //C# code

    //int Quantity = ViewBag.Quantidade;
    //DateTime Datahora = ViewBag.DataHora;

    //List<Conta> Contas = ViewBag.Contas; 

}

<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="utf-8">

    <title> - Home page - </title>


</head>

<body>

    <h1>Welcome</h1>

    <a asp-controller="Conta" asp-action="Index"> Accounts </a>

    <a asp-controller="Categoria" asp-action="Index"> Categorys </a>

    <a asp-controller="Lancamento" asp-action="Index"> Lancamentos </a>

</body>

</html> 