@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model Conta

<div class="container">

    <h1 class="display-3">Cadastrar conta</h1>

    <!-- REGISTER FORM -->
    <form asp-controller="Conta" asp-action="Create" method="post" 
          enctype="multipart/form-data">

        <fieldset>

            <!-- Validation Errors -->
            <div asp-validation-summary="ModelOnly"></div>

            <legend> Register </legend>

            <!-- FIRST NAME -->
            <div class="form-group">

                <label asp-for="FirstName"> Name </label>
                <input asp-for="FirstName" type="text" placeholder="First name" class="form-control"/>

                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>

            <!-- SECOND NAME -->
            <div class="form-group">

                <label asp-for="SecondName"> Second name </label>
                <input asp-for="SecondName" type="text" placeholder="Second name" class="form-control"/>

                <span asp-validation-for="SecondName" class="text-danger"></span>

            </div>

            <!-- CPF -->
            <div class="form-group">

                <label asp-for="Cpf"> Cpf </label>
                <input asp-for="Cpf" type="text" placeholder="CPF" class="form-control"/>

                <span asp-validation-for="Cpf" class="text-danger"></span>

            </div>

            <!-- PHOTO / FILE -->
            <div class="form-group">

                <label asp-for="Image"> Foto </label>
                <input asp-for="Image" type="file" name="file" class="form-control-file"/>

            </div>

            <!-- SUBMIT -->
            <input type="submit" value="Cadastrar" class="btn btn-primary" />

        </fieldset>

    </form>

</div>


