@{


    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model List<Conta>

    <div class="container">

        <h1> - Contas - </h1>

        <hr/>

        <div class="row">

            @foreach (Conta conta in Model)
            {

                <div class="col-md-3">

                    <div class="card">

                        <img class="card-img-top" src="~/images/@conta.Image" alt="@conta.FirstName" style="max-height:150px;width:100%"/>

                        <div class="card-body">

                            <h5 class="card-title">@conta.FirstName @conta.SecondName</h5>
                            <p class="card-text">Email:@conta.Email</p>

                        </div>

                        <div class="card-footer">

                            <a asp-action="OtherContaInfo" asp-controller="Conta" asp-route-id="@conta.Id" class="btn btn-info"> View </a>

                        </div>

                    </div>


                </div>

            }

        </div>

    </div>