@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model Conta


<div class="container">

    <h1 class="display-3">Atualizar conta</h1>

    <!-- REGISTER FORM -->
    <form asp-controller="Conta" asp-action="Update" method="post">

        <fieldset>

            <!-- Validation Errors -->
            <div asp-validation-summary="ModelOnly"></div>

            <legend> Register </legend>

            <!-- FIRST AND SECOND NAME -->
            <div class="form-group">

                <!-- FIRST -->
                <label asp-for="FirstName"> Name </label>
                <input asp-for="FirstName" type="text" placeholder="First name" class="form-control" />

                <span asp-validation-for="FirstName" class="text-danger"></span>

                <!-- SECOND -->
                <label asp-for="SecondName"> Second name </label>
                <input asp-for="SecondName" type="text" placeholder="Second name" class="form-control" />

                <span asp-validation-for="SecondName" class="text-danger"></span>

            </div>

            <!-- CPF -->
            <div class="form-group">

                <label asp-for="Cpf"> Cpf </label>
                <input asp-for="Cpf" type="text" placeholder="CPF" class="form-control" />

                <span asp-validation-for="Cpf" class="text-danger"></span>

            </div>

            <hr />

            <!-- ACCOUNT INFO -->
            <!-- EMAIL -->
            <div class="form-group">

                <label asp-for="Email"> Email </label>
                <input asp-for="Email" type="email" placeholder="Email" class="form-control" />

            </div>

            <!-- PASSWORD -->
            <div class="form-group">

                <label asp-for="Password"> Password </label>
                <input asp-for="Password" type="password" placeholder="Password" class="form-control" />

            </div>

            <!-- SUBMIT -->
            <input type="submit" value="Cadastrar" class="btn btn-primary" />

        </fieldset>

    </form>

</div>