@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model Conta


<div class="container">

    <h1 class="display-3">Atualizar conta</h1>

    <!-- REGISTER FORM -->
    <form asp-controller="Conta" asp-action="Update" method="post">

        <fieldset>

            <!-- Validation Errors -->
            <div asp-validation-summary="ModelOnly"></div>

            <legend> Register </legend>

            <!-- FIRST NAME -->
            <div class="form-group">

                <label asp-for="FirstName"> Name </label>
                <input asp-for="FirstName" type="text" placeholder="First name" />

                <span asp-validation-for="FirstName"></span>

            </div>

            <!-- SECOND NAME -->
            <div class="form-group">

                <label asp-for="SecondName"> Second name </label>
                <input asp-for="SecondName" type="text" placeholder="Second name" />

                <span asp-validation-for="SecondName"></span>

            </div>

            <!-- CPF -->
            <div class="form-group">

                <label asp-for="Cpf"> Cpf </label>
                <input asp-for="Cpf" type="text" placeholder="CPF" />

                <span asp-validation-for="Cpf"></span>

            </div>

            <!-- SUBMIT -->
            <input type="submit" value="Cadastrar" class="btn btn-primary"/>

        </fieldset>

    </form>

</div>